#/bootstrap/compiled.php
#/vendor
/widgets/twitter/config/local
/widgets/twitter/config/production
/widgets/youtube/config/local
/widgets/youtube/config/production
/widgets/facebook/config/local
/widgets/facebook/config/production
/widgets/instagram/config/local
/widgets/instagram/config/production
/build
/local/composer.phar
/local/composer.lock
/local/.env.*.php
/local/.env.php
/local/Gruntfile.js
/local/bower.json
/local/package.json
/local/docs
.DS_Store
Thumbs.db
/local/node_modules
_notes
npm-debug.log
.idea
/demo
/deploy
/github-deploy-*